# Ensure that a non-login, non-interactive shell has a defined environment.
if [[ ( "$SHLVL" -eq 1 && ! -o LOGIN ) && -s "${ZDOTDIR:-$HOME}/.zprofile" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprofile"
fi

# See /etc/zsh/zshrc
skip_global_compinit=1

export GITHUB_TOKEN='{{ (index (bitwardenFields "item" "6678ec85-b2d3-410f-aabe-a8290150e55e") "jonas-cc-api-key").value }}'
